@import './formCommon.scss';

.place-form-layout {
    display: flex;

    .place-form-card {
        @include card-layout-title;
        .place-form-body {
            @include card-body;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .form-flex {
                @include form-label-input;
            }
        }
    }
}